# Replace GitHub handles below with the actual team accounts.
* @scalyn-invited
/includes/Core/ @scalyn-invited
/includes/Mail/ @scalyn-invited
/includes/Providers/ @scalyn-invited
/includes/Database/ @scalyn-invited
/includes/Logging/ @scalyn-invited
/includes/Diagnostics/ @scalyn-invited
/includes/Rest/ @scalyn-invited
/admin/ @scalyn-invited
/docs/ @scalyn-invited
